section {
  margin-bottom: 20px;
  border-top: solid 1px;
}
table {
  width: 1200px;
  border-collapse: collapse;
}
table, tr, th, td {
  border: solid 1px;
  padding: 5px;
  text-align: center;
}

.text_align_right {
  text-align: right;
}

.image_width {
  width: 100px;
}

img {
  width: 100px;
}

.item_name_width {
  width: 100px;
}

.input_text_width {
  width: 35px;
}

.status_false {
  background-color: #A9A9A9;
}